@font-face {
  font-family: "Champion";
  src: url("Champion-HTF-Heavyweight.woff2") format("woff2"), url("Champion-HTF-Heavyweight.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Champion";
  src: url("Champion-HTF-Lightweight.woff2") format("woff2"), url("Champion-HTF-Lightweight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Buinton";
  src: url("Buinton-Regular.woff2") format("woff2"), url("Buinton-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Champion";
  src: url("Champion-HTF-Bantamweight.woff2") format("woff2"), url("Champion-HTF-Bantamweight.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Champion Sans Cond LL Trial";
  src: url("ChampionSansCondLLTrial-Bold.woff2") format("woff2"), url("ChampionSansCondLLTrial-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
